doctype 5
html
	head
		title nodeJS-Chat
		
		link(rel='stylesheet', href='/css/styles.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js')
		script(src='/js/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#container
		
		block content