extends layout

block content
	div#alert
		
	div#login
		p Nickname:
			input#nickname(type='text')
			
		
	div#chat
		ol#messages
		
		div
			input#message(type='text')
			input#submit-message(type='button',value='Enviar') 